<tr id="comment_tr-<%= comment.id %>">
      <td><%= simple_format(comment.content) %></td>
  	  <td><% if current_user.try(:id) == comment.user_id %> 
  	        <%= link_to 'Delete', entry_comment_path(comment.commentable_id, comment),
  		      method: :delete, data: { confirm: "Are you sure?" }, remote: true  %>
  	     <% end %>
  	</td>
  </tr>	