<h2>edit</h2>

<br />
<%= render @entry.photos %>
<br />
<%= link_to "Add photo", new_entry_photo_path(@entry),  class: "btn btn-primary" %>
<br />
<br />
<%= render 'form' %>
<br />
<%= link_to 'Back', entries_path %>
