
<%= link_to image_tag(photo.image_url(:thumb).to_s), entry_photo_path(photo.photoable_id, photo.id) %>
  <div class="center"><%= photo.caption %>
  <%= link_to 'Delete', entry_photo_path(photo.photoable_id, photo), method: :delete, 
    data: { confirm: "Are you sure?" } if current_user.try(:admin?)  %>
    </div>
  <br />